html {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#wrap {
	margin: 0 auto;
	border-style: solid;
	border-width: 1px;
	border-color: #4b0082;
	background-color: #fff;
}

#content {
	padding: 15px;
}

#noticeboard {
	border-style: solid;
	border-width: 1px;
	border-color: #4b0082;
	background-color: #ffdd00;	
	padding: 10px;
}

#header {
	background-color: #4b0082;
}

#nav {
	text-align: left;
    padding-left: 10px;
    height: 0px;
}

#nav li {
	display: inline;
}

h1 {
	text-align: right;
	font-size: 4em;
	color: #f2f2f2;
}

h2 {
	text-align: center;
	color: #f2f2f2;
}

h3 {
	font-size: 20px;
}

p {
	font-size: 15px;
}

li {
	font-size: 15px;
}

#footer {
	text-align: center;
}

textarea {
	width: 100%;
	height: 400px;
}